.add-button {
  margin: 0;
  padding: 0;
  border: 0;
  justify-self: end;
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
}

.add-button:last-child {
  display: none;
}

.add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 770px) {
  .add-button {
    justify-self: center;
    display: none;
  }

  .add-button:last-child {
    display: flex;
  }
}
