.element__description {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .element__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
