.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .popup__close-button {
    max-width: 20px;
    right: 0;
    top: -36px;
  }
}

