.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: #FFFFFF;
  overflow: hidden;
}

@media screen and (max-width: 770px) {
  .profile__info {
    margin-bottom: 36px;
    gap: 14px;
    max-width: 90%;
  }
}
